.profile-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: #555;
    background-color: #f5f5f5;
    border-radius: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .fancy-label {
    color: #555;
    margin-right: 10px;
  
    padding: 8px;
    padding-top: 20px;
  }
  
  .fancy-label-1 {
    color: #555;
  }
  
  .fancy-span {
    font-weight: bold;
    color: #337ab7;
    line-height: 1;
    padding: 8px;
  }
  
  .fancy-span-info {
    font-weight: bold;
    color: #337ab7;
    line-height: 1;
    text-wrap: wrap;
    max-height: 200px;
    justify-content: flex-end;
    display: flex;
    text-align: right;
    padding: 8px;
  }
  
  .profile-container {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    gap: 10px;
  }
  
  .profile,
  .edit-form {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fancy-heading {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .fancy-label,
  .fancy-input,
  .fancy-select,
  .fancy-textarea {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .fancy-btn {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #337ab7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fancy-input,
  .fancy-select,
  .fancy-textarea,
  .fancy-btn {
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .fancy-textarea:hover {
    background-color: #e0e0e0;
  }
  
  .fancy-btn:hover {
    background-color: #286090;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .fancy-error {
    color: #d9534f;
    margin-top: 10px;
  }
  
  .profile-edit-btn {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profile-edit-btn:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .profile,
  .edit-form {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .profile-heading {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }
  
  .fancy-label,
  .fancy-input,
  .fancy-select,
  .fancy-textarea {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .fancy-btn {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #337ab7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fancy-input,
  .fancy-select,
  .fancy-textarea,
  .fancy-btn {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .fancy-textarea:hover {
    background-color: #e0e0e0;
  }
  .fancy-btn:hover {
    background-color: #286090;
  }
  
  .fancy-error {
    color: #d9534f;
    margin-top: 10px;
  }
  
  .profile-edit-btn {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-edit-btn:hover {
    background-color: #e0e0e0;
  }
  
  .fancy-button {
    margin-right: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .fancy-button:hover {
    background-color: #286090;
    cursor: pointer;
  }
  .fancy-table {
    width: 21%;
    border-collapse: collapse;
    margin-bottom: 15px;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 999;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .fancy-table tr:nth-child(even) td {
    background-color: #e1bee7;
  }
  .duration {
    width: 60px;
  }
  .fancy-table th {
    background-color: #c1cad1;
    color: #333;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(to right, #63d3ec, #c0e6ec);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .fancy-table th,
  .fancy-table td {
    padding: 8px;
    text-align: center;
    background-color: #f3e5f5;
    color: #333;
  }
  
  .fancy-table th {
    background-color: #f2f2f2;
  }
  
  .future {
    margin-top: 20px;
    margin-left: 370px;
  }
  