<div class="profile-container">
    <div class="profile">
    <h2 class="profile-heading">Registration Form</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
      <div>
        <label for="password" class="fancy-label-1">Password:</label>
        <input class="fancy-input" type="password" id="password" name="password" formControlName="password" [(ngModel)]="registrationRequest.password" required>
        <span *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" style="color: red">
          Password is required - Password must contain at least one number, one uppercase letter, one lowercase letter, and one special character.
          !
        </span>
      </div>
        <div>
          <label for="repeatedPassword" class="fancy-label-1">Confirm password:</label>
          <input class="fancy-input" type="password" id="repeatedPassword" name="repeatedPassword" formControlName="repeatedPassword"
          required>
          <span *ngIf="isRepatPasswordIsEmpty()" style="color: #fdb5b5">
            This field is required!
          </span>
          <br />
          <span *ngIf="!isPasswordCorrect()" style="color: red">
            The entered and repeated passwords don't match!
          </span>
  
        </div>
        <button type="submit" class="fancy-btn">Register</button>
      </form>
    </div>
    </div>