<div class="change-password-container">
    <h2>Change password</h2>
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        <span *ngIf="!isPasswordCorrect()" style="color: red">
          Password is required - Password must contain at least one number, one uppercase letter, one lowercase letter, and one special character.
          !
        </span>
        <span *ngIf="isPasswordEmpty()" style="color: #fdb5b5">
          This field is required!
        </span>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm new password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <span *ngIf="!isPasswordCorrect()" style="color: red">
          The entered and repeated passwords don't match!
        </span>
      </div>
      <button type="submit">Change password</button>
    </form>
  </div>
  